/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
	
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	



}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 992px) {
	
	.slider-wrapper {
		margin-top: 30px;
		margin-bottom: 150px;
	}

}


/* Extra small Device. */
@media (max-width: 767px) {

	.slider-wrapper {
		margin-top: 30px;
		margin-bottom: 150px;
	}

}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 768px) {
	.slider-wrapper {
		margin-top: 30px;
		margin-bottom: 150px;
	}

}
